textarea {
  resize: none;
  outline: none;
  border: none;
  font-family: 'Fira Code', monospace;
  padding-top: 1.5rem;
  font-size: 12px;
  line-height: 1.3;
  overflow: hidden;
}

.editor {
  width: 100%;
  height: 100%;
  box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.11);
  -webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.11);
  -moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.11);
  padding-left: 0.5rem;
  border-radius: 0px 10px 10px 0px;
  font-weight: 300;
}

.code-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 1.5rem;
  font-size: 12px;
  line-height: 1.3;
  padding-left: 3.5rem;
  pointer-events: none;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
}

code {
  font-family: 'Fira Code', monospace;
  font-size: 12px;
  font-weight: 300;
}
