.wrapper {
  height: 50%;
  width: 100px;
  position: absolute;
  top: 0%;
  right: 0%;
  overflow: hidden;
}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 15px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  transform: rotate(180deg);
  margin-top: 1.5rem;
  margin-left: 3.5rem;
}


.burger {
  width: 80%;
  height: 3px;
  background: #ccc;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.burger::before, .burger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #ccc;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.burger::before {
  transform: translateY(-7px);
}

.burger::after {
  transform: translateY(7px);
}

.menu.open .burger {
  background: transparent;
}

.menu.open .burger::before {
  transform: rotate(45deg);
}

.menu.open .burger::after {
  transform: rotate(-45deg);
}

.dropdown {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

button {
  width: 80px;
  height: 30px;
  border-radius: 25px;
  color: #fff;
  background-color: #F6828C;
  font-weight: 700;
  cursor: pointer;
}

.button-group-enter {
  transform: translateX(300px);
  opacity: 0;
}

.button-group-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.button-group-exit {
  transform: translateX(0);
  opacity: 1;
}

.button-group-exit-active {
  transform: translateX(300px);
  opacity: 0;
  transition: all 200ms;
}
