.token {

}

.keyword {
  color: #D972FF;
}

.operator {
  color: blue;
}

.number {
  color: #81C3D7;
}

.punctuation {
  color: #8447FF;
}

.function {
  color: Dodgerblue;
}

.constant {
  color: #F67E7D;
}

.string {
  color: #55D6C2;
}

.parameter {
  color: #8447FF;
}

.class-name {
  color: #FFD166;
}

.property {
  color: #4CC9F0;
}
