@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Code', monospace;
  background-color: #7189FF;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  outline: none;
  border: none;
}
